[Unit]
Description=uWSGI instance to serve Intranet
After=network.target

[Service]
User=www-data
Group=www-data
WorkingDirectory=/var/www/intranet
ExecStart=/usr/local/bin/uwsgi --ini /var/www/intranet/uwsgi.ini

[Install]
WantedBy=multi-user.target
