{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <h1 style="text-align: center;">Acordos e Convenções Internacionais</h1>
        <br>
        <ul class="custom-list">
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="https://www.planalto.gov.br/ccivil_03/_Ato2004-2006/2006/Decreto/D5687.htm" target="_blank"><u><strong>Decreto n° 5.687/2006</strong></u></a> - Convenção das Nações Unidas Contra a Corrupção
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="https://www.planalto.gov.br/ccivil_03/_Ato2004-2006/2004/Decreto/D5015.htm" target="_blank"><u><strong>Decreto n° 5.015/2004</strong></u></a> - Convenção das Nações Unidas Contra o Crime Organizado Transnacional
                </h3>
            </li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="https://www.planalto.gov.br/ccivil_03/_Ato2004-2006/2004/Decreto/D5017.htm" target="_blank"><u><strong>Decreto nº 5.017/2004</strong></u></a> - Protocolo Adicional à Convenção das Nações Unidas contra o Crime Organizado Transnacional Relativo à Prevenção, Repressão e Punição do Tráfico de Pessoas, em Especial Mulheres e Crianças
                </h3>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="https://www.planalto.gov.br/ccivil_03/decreto/1990-1994/D0154.htm" target="_blank"><u><strong>Decreto nº 154/1991</strong></u></a>- Convenção Contra o Tráfico Ilícito de Entorpecentes e Substâncias Psicotrópicas
                </h3>
            </li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="https://www.planalto.gov.br/ccivil_03/decreto/2001/d3810.htm" target="_blank"><u><strong>Decreto n° 3.810/2001</strong></u></a> - Acordo de Assistência Judiciária em Matéria Penal entre o Governo da República Federativa do Brasil e o Governo dos Estados Unidos da América
                </h3>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="https://www.planalto.gov.br/ccivil_03/_Ato2004-2006/2005/Decreto/D5640.htm" target="_blank"><u><strong>Decreto nº 5.640/2005</strong></u></a> - Convenção Internacional para Supressão do Financiamento do Terrorismo
                </h3>
            </li>
        </ul>
    </div>   
</section>
{% endblock %}
