{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <h1 style="text-align: center;">Material de Apoio</h1>
        <br>
        <ul>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/apoio/Apresentação Cripto - RedeLab fev.23.pdf" target="_blank"><u><strong>Apresentação sobre Criptomoedas</strong></u></a> - RedeLab (fevereiro/2023).
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/apoio/Brasil-RELATÓRIO-DE-AVALIAÇÃO-MÚTUA-2023.pdf.coredownload.inline.pdf" target="_blank"><u><strong>Medidas de Combate à Lavagem de Dinheiro e ao Financiamento do Terrorismo - Relatório de Avaliação Mútua</strong></u></a> - GAFI (2023).
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/apoio/casos-e-casos-tipologias-edicao-especial-anr-2021.pdf" target="_blank"><u><strong>Casos e Casos - Coletânea de Tipologias de LD/FTP</strong></u></a> - Edição Especial (COAF/2021).
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/apoio/Criptomoedas e Blockchain.pdf" target="_blank"><u><strong>Criptomoedas e Blockchain</strong></u></a> - Laboratório de Tecnologia Contra a Lavagem de Dinheiro (PC/PA).
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/apoio/IN RFB nº 1899_2019.pdf" target="_blank"><u><strong>Instrução Normativa RFB nº 1.899/2019</u></strong></a> - Institui e disciplina a obrigatoriedade de prestação de informações relativas às operações realizadas com criptoativos à Secretaria Especial da Receita Federal do Brasil (RFB).
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/apoio/Parecer de Orientacao 040 CVM.pdf" target="_blank"><u><strong>Parecer de Orientação CVM nº 40/2022</u></strong></a> - Os Criptoativos e o Mercado de Valores Mobiliários.
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/apoio/Orientações de Pedidos junto a Binance.pdf" target="_blank"><u><strong>Orientações de Pedidos junto a Binance</u></strong></a>
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/apoio/ConfiscoAlargado.pdf" target="_blank"><u><strong>Confisco Alargado - Diretrizes Metodológicas para Análise e Implementações</u></strong></a> - GAECO MPRJ
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/apoio/CONTATOS relevantes - 200 paginas - compilado.pdf" target="_blank"><u><strong>Contatos Relevantes</u></strong></a>
                </h3>
            </li>
        </ul>
    </div>   
</section>
{% endblock %}
