{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <h1 style="text-align: center;">Material de Apoio</h1>
        <ul>
            <li><h3 class="entry-title"><a href="/intranet/media/apoio/Apresentação Cripto - RedeLab fev.23.pdf" target="_blank">Apresentação Cripto - RedeLab fev.23</a></h3></li>
            <li><h3 class="entry-title"><a href="/intranet/media/apoio/Brasil-RELATÓRIO-DE-AVALIAÇÃO-MÚTUA-2023.pdf.coredownload.inline.pdf" target="_blank">Brasil - Relatório de Acaliação Mútua - 2023</a></h3></li>
            <li><h3 class="entry-title"><a href="/intranet/media/apoio/casos-e-casos-tipologias-edicao-especial-anr-2021.pdf" target="_blank">Casos e Casos Tipologias - Edição especial - 2021</a></h3></li>
            <li><h3 class="entry-title"><a href="/intranet/media/apoio/Criptomoedas e Blockchain.pdf" target="_blank">Criptomoedas e Blockchain</a></h3></li>
            <li><h3 class="entry-title"><a href="/intranet/media/apoio/IN RFB nº 1899_2019.pdf" target="_blank">IN RFB nº 1899-2019</a></h3></li>
            <li><h3 class="entry-title"><a href="/intranet/media/apoio/Parecer de Orientacao 040 CVM.pdf" target="_blank">Parecer de Orientação 040 CVM</a></h3></li>
        </ul>
    </div>   
</section>
{% endblock %}