{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <h1 style="text-align: center;">Atos Normativos MPPA</h1>
        <br>
        <ul>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/atos/Res 012-2017 CPJ GSI aprovada.pdf" target="_blank"><u><strong>Resolução CPJ nº 012/2017</strong></u></a> - Cria e regulamenta o funcionamento do Grupo de Atuação Especial de Inteligência e Segurança Institucional (GSI) do Ministério Público do Estado do Pará, e dá outras providências.
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/atos/Res 013-2024 CPJ - Reorganiza o GSI.pdf" target="_blank"><u><strong>Resolução CPJ nº 013/2024</strong></u></a> - Reorganiza o Grupo de Atuação Especial de Inteligência e Segurança Institucional (GSI) do Ministério Público do Estado do Pará (MPPA), define a estrutura, atribuições e dá outras providências.
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/atos/RESOLUÇÃO Nº 13 2024 -  REORGANIZAÇÃO GSI VERSÃO FINAL.pdf" target="_blank"><u><strong>Resolução CPJ nº 013/2024</strong></u></a> - Reorganiza o Grupo de Atuação Especial de Inteligência e Segurança Institucional (GSI) do Ministério Público do Estado do Pará, define a estrutura, atribuições e dá outras providências (Versão Final)
                </h3>
            </li>
        </ul>
    </div>   
</section>
{% endblock %}
