{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <h1 style="text-align: center;">Contatos</h1>
        <br>
        <h3>Equipe:</h3>
        <h2 style="color: black;">Coordenador</h2>
        <p>Paulo Lima</p>
        <ul>
            <li><i>paulolima@mppa.mp.br</i></li>
            <li>(91) 3210-3544</li>
        </ul>

        <h2 style="color: black;">Análise Bancária</h2>
        <p>Beatriz Nogueira</p>
        <ul>
            <li><i>beatrizbertolo@mppa.mp.br</i></li>
            <li>(91) 3210-3526</li>
        </ul>
        <p>Francisco Junior</p>
        <ul>
            <li><i>fnunes@mppa.mp.br</i></li>
            <li>(91) 3210-3526</li>
        </ul>

        <h2 style="color: black;">Análise de RIF</h2>
        <p>Camila Beleza</p>
        <ul>
            <li><i>camilaazevedo@mppa.mp.br</i></li>
            <li>(91) 3210-3526</li>
        </ul>
        <p>Thamires Ribeiro</p>
        <ul>
            <li><i>thamiresribeiro@mppa.mp.br</i></li>
            <li>(91) 3210-3526</li>
        </ul>

        <h2 style="color: black;">Suporte TI</h2>
        <p>Jorgyvan Lima</p>
        <ul>
            <li><i>jorgyvan@mppa.mp.br</i></li>
            <li>(91) 3210-3553</li>
        </ul>
        <p>Flávio Nunes</p>
        <ul>
            <li><i>flavionunes@mppa.mp.br</i></li>
            <li>(91) 3210-3553</li>
        </ul>
        <p>Clisciano Souza</p>
        <ul>
            <li><i>clisciano@mppa.mp.br</i></li>
            <li>(91) 3210-3544</li>
        </ul>

        <h2 style="color: black;">Estagiários</h2>
        <p>Ramon Neves</p>
        <ul>
            <li>(91) 3210-3553</li>
        </ul>
        <p>Henry Macedo</p>
        <ul>
            <li>(91) 3210-3553</li>
        </ul>

        <h3>Endereço:</h3>
        <p>Av. 16 de Novembro, 418 - Cidade Velha, Belém - PA, 66020-660</p>
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d3988.5235584300053!2d-48.5016479!3d-1.459714!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x92a48ef5522fd473%3A0x501910d5edc04bbc!2sMinist%C3%A9rio%20P%C3%BAblico%20do%20Estado%20do%20Par%C3%A1%20-%20MPPA!5e0!3m2!1spt-BR!2sbr!4v1742385383116!5m2!1spt-BR!2sbr" width="500" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>   
</section>
{% endblock %}
