{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <h1 style="text-align: center;">Contatos</h1>
        <br>
        <h3>Equipe:</h3>
        <h2 style="color: black;">Coordenador</h2>
        <p>Paulo Lima</p>
        <ul>
            <li><i>paulolima@mppa.mp.br</i></li>
            <li>(91) 3210-0000</li>
        </ul>

        <h2 style="color: black;">?????</h2>
        <p>Beatriz Nogueira</p>
        <ul>
            <li><i>jorgyvan@mppa.mp.br</i></li>
            <li>(91) 3210-0000</li>
        </ul>
        <p>Francisco Junior</p>
        <ul>
            <li><i>flavionunes@mppa.mp.br</i></li>
            <li>(91) 3210-0000</li>
        </ul>

        <h2 style="color: black;">Suporte TI</h2>
        <p>Jorgyvan Lima</p>
        <ul>
            <li><i>jorgyvan@mppa.mp.br</i></li>
            <li>(91) 3210-0000</li>
        </ul>
        <p>Flávio Nunes</p>
        <ul>
            <li><i>flavionunes@mppa.mp.br</i></li>
            <li>(91) 3210-0000</li>
        </ul>

        <h2 style="color: black;">Estagiários</h2>
        <p>Ramon Neves</p>
        <ul>
            <li>(91) 3210-0000</li>
        </ul>
        <p>Henry</p>
        <ul>
            <li>(91) 3210-0000</li>
        </ul>

        <h3>Endereço:</h3>
        <p>Av. 16 de Novembro, 418 - Cidade Velha, Belém - PA, 66020-660</p>
        <iframe src="https://www.google.com/maps/embed?pb=!3m2!1spt-BR!2sbr!4v1742307762104!5m2!1spt-BR!2sbr!6m8!1m7!1svlfzdpjdHTBwhsHa4P5J4w!2m2!1d-1.45945204993865!2d-48.49886192451557!3f199.01375467217483!4f4.815141796001768!5f0.7820865974627469" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>   
</section>
{% endblock %}
