{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container">
        <h1 style="text-align: center;">Fontes Abertas</h1>
        <table style="width: 100%; text-align: center;">
            <tr>
                <td><h3><a href="https://www.sistemaspoliciais.com.br/fontes-abertas#" target="_blank">Pesquisas em Fontes Abertas | Sistemas Policiais</a></div></h3></td>
                <td><h3><a href="http://gsiserver:5000/rede/" target="_blank">RedeCNPJ</a></div></h3></td>
                <td><h3><a href="https://www.in.gov.br/inicio" target="_blank">DOU - Diário Oficial da União</a></div></h3></td>
                <td><h3><a href="https://www.ioepa.com.br/pesquisa" target="_blank">IOEPA - Imprensa Oficial do Pará</a></div></h3></td>
            </tr>
            <tr>
                <td><h3><a href="https://www.tcm.pa.gov.br//nec/jurisdicionados/" target="_blank">TCM - Contas Públicas (Jurisdicionado)</a></div></h3></td>
                <td><h3><a href="https://apex.tcm.pa.gov.br/ords/f?p=30149:1" target="_blank">TCM - Folha de Pagamento (2003-2015)</a></div></h3></td>
                <td><h3><a href="https://filia-consulta.tse.jus.br/#/principal/certidao-gerar" target="_blank">TSE - Filiação</a></div></h3></td>
                <td><h3><a href="https://www.tse.jus.br/#/atendimento-eleitor/consultar-situacao-titulo-eleitor" target="_blank">TSE - Situação Eleitoral</a></div></h3></td>
            </tr>
            <tr>
                <td><h3><a href="https://portal.trf1.jus.br/portaltrf1/pagina-inicial.htm" target="_blank">TRF1 - Consulta</a></div></h3></td>
                <td><h3><a href="https://consultas.tjpa.jus.br/consultaunificada/consulta/principal" target="_blank">TJPA - Consulta</a></div></h3></td>
                <td><h3><a href="https://solucoes.receita.fazenda.gov.br/Servicos/cnpjreva/cnpjreva_solicitacao.asp" target="_blank">CNPJ - Consulta</a></div></h3></td>
                <td><h3><a href="https://www.unimed.coop.br/site/web/unimedbelem/2-via-de-boleto" target="_blank">Unimed Belém</a></div></h3></td>
            </tr>
            <tr>
                <td><h3><a href="https://pa.equatorialenergia.com.br/" target="_blank">Equatorial</a></div></h3></td>
            </tr>
        </table>
    </div>
</section>
{% endblock %}