{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container">
    <h2>Notícias</h2>
    <article>
        <h3 class="entry-title"><a href="#">LAB-LD/SC é Destaque em Edição da Revista “CASOS REDE-LAB” por Atuação no Combate à Lavagem de Dinheiro</a> </h3> 
        <p>O Laboratório de Tecnologia contra Lavagem de Dinheiro da Polícia Civil de Santa Catarina (LAB-LD/SC) foi reconhecido por sua atuação de excelência na análise de grandes volumes de dados no combate a crimes financeiros. Integrante da Rede-LAB, o LAB-LD/SC se destaca na identificação de transações suspeitas e desarticulação de redes criminosas. O destaque reflete a eficiência dos laboratórios da Rede-LAB, elogiados em relatórios internacionais, como o do Grupo de Ação Financeira (GAFI), por fortalecerem a resposta do Brasil ao combate à lavagem de dinheiro e à corrupção. Download da Revista: CASOS REDE-LAB: EDIÇÃO ESPECIAL 10 ANOS DE REDE-LAB A notícia…</p>
        <a href="#" class="read-more-btn">Leia mais</a>

        <h3 class="entry-title"><a href="#">Novas diretrizes para solicitação de RIF ao COAF: Necessidade de Documento de Autorização do Delegado&nbsp;de&nbsp;Polícia</a></h3>
        <p>Senhores Policiais, O COAF recentemente alterou as regras para solicitação de RIF pelo LAB/LD. Juntamente com as solicitações realizadas via portal eletrônico do COAF (SEI-C) - além da Portaria do IP assinada - foi requisitado "_ENCAMINHAR (anexar neste mesmo SEI-C) documento que indique que investigação está sendo conduzida pela autoridade que buscou intercâmbio com o COAF, tendo em vista que o documento anexado está assinado por outra autoridade". Dessa forma, para viabilizar a solicitação, via LAB-LD, torna-se necessário o preenchimento de autorização pelo Delegado de Polícia que está requisitando o RIF. Vale ressaltar que a autoridade deve ser a mesma…</p>
        <a href="#" class="read-more-btn">Leia mais</a>

        <h3 class="entry-title"><a href="#">STF reitera que polícia pode pedir compartilhamento de dados ao Coaf sem autorização judicial prévia</a></h3>
        <p>Senhores Policiais, O COAF recentemente alterou as regras para solicitação de RIF pelo LAB/LD. Juntamente com as solicitações realizadas via portal eletrônico do COAF (SEI-C) - além da Portaria do IP assinada - foi requisitado "_ENCAMINHAR (anexar neste mesmo SEI-C) documento que indique que investigação está sendo conduzida pela autoridade que buscou intercâmbio com o COAF, tendo em vista que o documento anexado está assinado por outra autoridade". Dessa forma, para viabilizar a solicitação, via LAB-LD, torna-se necessário o preenchimento de autorização pelo Delegado de Polícia que está requisitando o RIF. Vale ressaltar que a autoridade deve ser a mesma…</p>
        <a href="#" class="read-more-btn">Leia mais</a>
    </article>
    </div>   
</section>
{% endblock %}
