{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <h1 style="text-align: center;">Leis, Decretos e Resoluções</h1>
        <br>
        <ul>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/leis/Carta Circular 3978 de 2020 BACEN.pdf" target="_blank"><u><strong>Circular BACEN nº 3.978/2020</strong></u></a> - Dispõe sobre a política, os procedimentos e os controles internos a serem adotados pelas instituições autorizadas a funcionar pelo Banco Central do Brasil visando à prevenção da utilização do sistema financeiro para a prática dos crimes de "lavagem" ou ocultação de bens, direitos e valores, de que trata a Lei nº 9.613, de 3 de março de 1998, e de financiamento do terrorismo, previsto na Lei nº 13.260, de 16 de março de 2016.
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/leis/Carta Circular 4001 de 2020 BACEN.pdf" target="_blank"><u><strong>Circular BACEN nº 4.001/2020</strong></u></a> - Divulga relação de operações e situações que podem configurar indícios de ocorrência dos crimes de “lavagem” ou ocultação de bens, direitos e valores, de que trata a Lei nº 9.613, de 3 de março de 1998, e de financiamento ao terrorismo, previstos na Lei nº 13.260, de 16 de março de 2016, passíveis de comunicação ao Conselho de Controle de Atividades Financeiras (Coaf).
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/leis/Comparativo circulares e cartas circulares BACEN referente ao COAF (1).pdf" target="_blank"><u><strong>Comparativos entre os circulares BACEN nº 3.461/2009, nº 3.978/2020, nº 3542 e nº 4001.</strong></u></a>
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/leis/DECRETO 11.842-2023 CONARA.pdf" target="_blank"><u><strong>Decreto nº 11.842/2023</strong></u></a> - Institui o Conselho Nacional de Políticas sobre Recuperação de Ativos.
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/leis/LEI Nº 14.478 DE 2022.pdf" target="_blank"><u><strong>Lei nº 14.478/2022</strong></u></a> - Dispõe sobre diretrizes a serem observadas na prestação de serviços de ativos virtuais e na regulamentação das prestadoras de serviços de ativos virtuais; altera o Decreto-Lei nº 2.848, de 7 de dezembro de 1940 (Código Penal), para prever o crime de fraude com a utilização de ativos virtuais, valores mobiliários ou ativos financeiros; e altera a Lei nº 7.492, de 16 de junho de 1986, que define crimes contra o sistema financeiro nacional, e a Lei nº 9.613, de 3 de março de 1998, que dispõe sobre lavagem de dinheiro, para incluir as prestadoras de serviços de ativos virtuais no rol de suas disposições.
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/leis/Recomendação nº 115 - investigações patrimoniais e financeiras.pdf" target="_blank"><u><strong>Recomendação CNMP nº 115/2024</strong></u></a> - Dispõe sobre a metodologia de instauração e processamento de investigações financeiras autônomas, como forma de reforçar a atuação dos ramos e unidades ministeriais na persecução patrimonial.
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/leis/RES 288-2024-CNMP.pdf" target="_blank"><u><strong>Resolução CNMP nº 288/2024</strong></u></a> - Disciplina a atuação dos membros do Ministério Público em feitos envolvendo a apreensão, custódia e liquidação de ativos virtuais e dá outras providências.
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/leis/Resolução CNMP n.º 294-2024 - Política Nacional de Cibersegurança do MP.pdf" target="_blank"><u><strong>Resolução CNMP nº 294/2024</strong></u></a> - Institui a Política Nacional de Cibersegurança do Ministério Público (PNCiber-MP) e dá outras providências.
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/leis/Resolução Coaf nº 40 - PEPs.pdf" target="_blank"><u><strong>Resolução CAOF nº 40/2021</strong></u></a> - Dispõe sobre os procedimentos a serem observados, em relação a pessoas expostas politicamente, por aqueles que se sujeitam à supervisão do Conselho de Controle de Atividades Financeiras - Coaf na forma do § 1º do art. 14 da Lei nº 9.613, de 3 de março de 1998.
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/leis/SEI_MJ - 19127725 - Portaria 145-2022.pdf" target="_blank"><u><strong>Portaria MJSP nº 145/2022</strong></u></a> - Atribui à Rede Nacional de Laboratórios de Tecnologia (Rede-Lab) a natureza de Programa de Articulação Institucional e define as regras para adesão de integrantes e parcerias.
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/leis/SEI_MJ - 25094031 - Termo de Adesão assinado.pdf" target="_blank"><u><strong>SEI/MJ nº 02509431</strong></u></a> - Termo de Adesão ao Programa Rede Nacional de Laboratórios de Tecnologia (Programa REDE-LAB)
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="https://www.planalto.gov.br/ccivil_03/leis/L9613.htm" target="_blank">Lei nº 9.613/1998</strong></u></a> - Dispõe sobre os crimes de "lavagem" ou ocultação de bens, direitos e valores; a prevenção da utilização do sistema financeiro para os ilícitos previstos nesta Lei; cria o Conselho de Controle de Atividades Financeiras - COAF, e dá outras providências.
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="https://www.planalto.gov.br/ccivil_03/_ato2019-2022/2020/lei/l13974.htm" target="_blank"><u><strong>Lei nº 13.974/2020</strong></u></a> - Dispõe sobre o Conselho de Controle de Atividades Financeiras (Coaf), de que trata o art. 14 da Lei nº 9.613, de 3 de março de 1998.
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="https://www.planalto.gov.br/ccivil_03/_Ato2015-2018/2016/Lei/L13260.htm" target="_blank"><u><strong>Lei nº 13.260/2016</strong></u></a> - Regulamenta o disposto no inciso XLIII do art. 5º da Constituição Federal, disciplinando o terrorismo, tratando de disposições investigatórias e processuais e reformulando o conceito de organização terrorista; e altera as Leis n º 7.960, de 21 de dezembro de 1989, e 12.850, de 2 de agosto de 2013.
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="https://www.planalto.gov.br/ccivil_03/_ato2019-2022/2019/lei/l13810.htm" target="_blank"><u><strong>Lei nº 13.810/2019</strong></u></a> - Dispõe sobre o cumprimento de sanções impostas por resoluções do Conselho de Segurança das Nações Unidas, incluída a indisponibilidade de ativos de pessoas naturais e jurídicas e de entidades, e a designação nacional de pessoas investigadas ou acusadas de terrorismo, de seu financiamento ou de atos a ele correlacionados; e revoga a Lei nº 13.170, de 16 de outubro de 2015.
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="https://www.planalto.gov.br/ccivil_03/_ato2011-2014/2013/lei/l12850.htm" target="_blank"><u><strong>Lei 12.850/2013</strong></u></a> - Define organização criminosa e dispõe sobre a investigação criminal, os meios de obtenção da prova, infrações penais correlatas e o procedimento criminal; altera o Decreto-Lei nº 2.848, de 7 de dezembro de 1940 (Código Penal); revoga a Lei nº 9.034, de 3 de maio de 1995; e dá outras providências.
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="https://www.planalto.gov.br/ccivil_03/leis/lcp/lcp105.htm" target="_blank"><u><strong>Lei Complementar nº 105/2001</strong></u></a> - Dispõe sobre o sigilo das operações de instituições financeiras e dá outras providências.
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="https://www.planalto.gov.br/ccivil_03/decreto-lei/1937-1946/Del3240.htm" target="_blank"><u><strong>Decreto-Lei nº 3.240/1941</u></strong></a> - Sujeita a sequestro os bens de pessoas indiciadas por crimes de que resulta prejuizo para a fazenda pública, e outros                    
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="https://www.planalto.gov.br/ccivil_03/LEIS/L9296.htm" target="_blank"><u><strong>Lei nº 9.296/1996</u></strong></a> - Regulamenta o inciso XII, parte final, do art. 5° da Constituição Federal.
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="https://www.planalto.gov.br/ccivil_03/_ato2011-2014/2014/lei/l12965.htm" target="_blank"><u><strong>Lei nº 12.965/2014</strong></u></a> - Estabelece princípios, garantias, direitos e deveres para o uso da Internet no Brasil.                    
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="https://www.planalto.gov.br/ccivil_03/leis/l5172.htm" target="_blank"><u><strong>Lei nº 5.172/1966</strong></u></a> - Dispõe sobre o Sistema Tributário Nacional e institui normas gerais de direito tributário aplicáveis à União, Estados e Municípios.
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="https://www.cnmp.mp.br/portal/images/Resolucoes/Resoluo-174-1.pdf" target="_blank"><u><strong>Resolução CNMP nº 174/2017</strong></u></a> - Disciplina, no âmbito do Ministério Público, a instauração e a tramitação da Notícia de Fato e do Procedimento Administrativo.
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="https://portal.tjpe.jus.br/documents/d/portal/dj250_2024-assinado-pdf" target="_blank"><u><strong>Portaria CNJ nº 03/2024</strong></u></a> - Regula o uso e o funcionamento do Sistema de Busca de Ativos do Poder Judiciário – Sisbajud.                    
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="https://encr.pw/Res292-2024" target="_blank"><u><strong>Resolução CNMP nº 292/2024</u></strong></a> - Institui a Política Nacional de Inteligência do Ministério Público e o Sistema de Inteligência do Ministério Público e dá outras providências.
                </h3>
            </li>           
        </ul>
        
    </div>   
</section>
{% endblock %}