{% extends 'base.html' %}

{% block content %}
<section>
    <div class="container">
        <h1 style="text-align: center;">Links Úteis</h1>
        <table style="width: 100%; text-align: center;">
            <tr>
                <td><h3><a href="https://mppa.mentorh.com/csp/mppa/portal/novo/index.csp" target="_blank">Portal do Servidor</a></div></h3></td>
                <td><h3><a href="https://ponto.mppa.mp.br/csp/mppa/portal/novo/AcessoPonto.csp" target="_blank">Ponto Servidor</a></div></h3></td>
                <td><h3><a href="https://www2.mppa.mp.br/sistemas/intranet/index.php?action=Destaque.site" target="_blank">Intranet MPPA</a></div></h3></td>
            </tr>
            <tr>
                <td><h3><a href="https://correio.mppa.mp.br/" target="_blank">E-mail Institucional</a></div></h3></td>
                <td><h3><a href="https://www2.mppa.mp.br/gedoc/login.jsf" target="_blank">Gedoc</a></div></h3></td>
                <td><h3><a href="https://www2.mppa.mp.br/camp" target="_blank">CAMP MPPA</a></div></h3></td>
            </tr>
            <tr>
                <td><h3><a href="https://ceaf.mppa.mp.br/app/only-email/login" target="_blank">CEAF - MPPA</a></div></h3></td>
                <td><h3><a href="https://www2.mppa.mp.br/sistemas/intranet/?action=MenuOrgao.show&id=138" target="_blank">Instalador SAJ</a></div></h3></td>
                <td><h3><a href="http://192.168.154.1/cadastro/#/" target="_blank">CEOS</a></div></h3></td>
            </tr>
            <tr>
                <td><h3><a href="https://portal.mppa.mp.br/sso/Login.mp" target="_blank">SIMP</a></div></h3></td>
                <td><h3><a href="https://www2.mppa.mp.br/simpweb/index.jsf" target="_blank">SIMP - Consulta</a></div></h3></td>
                <td><h3><a href="https://pae-consulta-publica.sistemas.pa.gov.br/" target="_blank">PAE - Consulta</a></div></h3></td>
            </tr>
            <tr>
                <td><h3><a href="https://www2.mppa.mp.br/data/files/D1/06/04/25/FE861810D8166608180808FF/DAJ_Relacao%20de%20contatos%20Portal%20MP%20-%20Atualizada%20-%2015-06-2022.pdf" target="_blank">Endereços e Telefones MPPA</a></div></h3></td>
                <td><h3><a href="https://www2.mppa.mp.br/doemppa/" target="_blank">DOE MPPA</a></div></h3></td>
                <td><h3><a href="https://pje.tjpa.jus.br/pje/login.seam" target="_blank">PJe TJPA</a></div></h3></td>
            </tr>
            <tr>
                <td><h3><a href="https://web.whatsapp.com/" target="_blank">WhatsApp Web</a></div></h3></td>
                <td><h3><a href="https://onedrive.live.com/about/pt-br/signin/" target="_blank">OneDrive</a></div></h3></td>
                <td><h3><a href="https://docs.google.com/spreadsheets/d/1p4ZgV6fi7Pfx8IHgxKQvIqzWXcva_Bp7APkpSh8-gv0/edit#gid=0" target="_blank">Unidades Policiais Belém-PA</a></div></h3></td>
            </tr>
            <tr>
                <td colspan="3"><h3><a href="https://mppabr.sharepoint.com/sites/gsintel/Documentos%20Compartilhados/Escalas%20de%20Sobreaviso/2025" target="_blank">Escalas de Sobreaviso</a></div></h3></td>
            </tr>
        </table>
    </div>
</section>
{% endblock %}