{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <h1 style="text-align: center;">Modelos e Manuais</h1>
        <ul>
            <!--
            <li><h3 class="entry-title"><a href="/media/leis/Carta Circular 3978 de 2020 BACEN.pdf" target="_blank">Carta Circular 3978 de 2020 BACEN</a></h3></li>
            <li><h3 class="entry-title"><a href="/media/leis/Carta Circular 4001 de 2020 BACEN.pdf" target="_blank">Carta Circular 4001 de 2020 BACEN</a></h3></li>
            <li><h3 class="entry-title"><a href="/media/leis/Comparativo circulares e cartas circulares BACEN referente ao COAF (1).pdf" target="_blank">Comparativo circulares e cartas circulares BACEN referente ao COAF</a></h3></li>
            <li><h3 class="entry-title"><a href="/media/leis/DECRETO 11.842-2023 CONARA.pdf" target="_blank">Decreto 11.842-2023 CONARA</a></h3></li>
            <li><h3 class="entry-title"><a href="/media/leis/LEI Nº 14.478 DE 2022.pdf" target="_blank">Lei nº 14.478 de 2022</a></h3></li>
            <li><h3 class="entry-title"><a href="/media/leis/Recomendação nº 115 - investigações patrimoniais e financeiras.pdf" target="_blank">Recomendação nº 115 - investigações patrimoniais e financeiras</a></h3></li>
            <li><h3 class="entry-title"><a href="/media/leis/RES 288-2024-CNMP.pdf" target="_blank">Resolução 288-2024 - CNMP</a></h3></li>
            <li><h3 class="entry-title"><a href="/media/leis/Resolução CNMP n.º 294-2024 - Política Nacional de Cibersegurança do MP.pdf" target="_blank">Resolução CNMP nº 294-2024 - Política Nacional de Cibersegurança do MP</a></h3></li>
            <li><h3 class="entry-title"><a href="/media/leis/Resolução Coaf nº 40 - PEPs.pdf" target="_blank">Resolução Coaf nº 40 - PEPs</a></h3></li>
            <li><h3 class="entry-title"><a href="/media/leis/SEI_MJ - 19127725 - Portaria 145-2022.pdf" target="_blank">SEI-MJ - 19127725 - Portaria 145-2022</a></h3></li>
            <li><h3 class="entry-title"><a href="/media/leis/SEI_MJ - 25094031 - Termo de Adesão assinado.pdf" target="_blank">SEI-MJ - 25094031 - Termo de Adesão assinado</a></h3></li>
            <li><h3 class="entry-title"><a href="https://www.planalto.gov.br/ccivil_03/leis/L9613.htm" target="_blank">Lei nº 9.613, de 3 de março de 1998</a></h3></li>
            <li><h3 class="entry-title"><a href="https://www.planalto.gov.br/ccivil_03/_ato2019-2022/2020/lei/l13974.htm" target="_blank">Lei nº 13.974, de 7 de janeiro de 2020</a></h3></li>
            <li><h3 class="entry-title"><a href="https://www.planalto.gov.br/ccivil_03/_Ato2015-2018/2016/Lei/L13260.htm" target="_blank">Lei nº 13.260, de 16 de março de 2016</a></h3></li>
            <li><h3 class="entry-title"><a href="https://www.planalto.gov.br/ccivil_03/_ato2019-2022/2019/lei/l13810.htm" target="_blank">Lei nº 13.810, de 8 de março de 2019</a></h3></li>
            <li><h3 class="entry-title"><a href="https://www.planalto.gov.br/ccivil_03/_ato2011-2014/2013/lei/l12850.htm" target="_blank">Lei 12.850/2013</a></h3></li>
            <li><h3 class="entry-title"><a href="https://www.planalto.gov.br/ccivil_03/leis/lcp/lcp105.htm" target="_blank">Lei Complementar nº 105/2001</a></h3></li>
            <li><h3 class="entry-title"><a href="https://www.planalto.gov.br/ccivil_03/decreto-lei/1937-1946/Del3240.htm" target="_blank">Decreto-Lei nº 3.240/1941</a></h3></li>
            <li><h3 class="entry-title"><a href="https://www.planalto.gov.br/ccivil_03/LEIS/L9296.htm" target="_blank">Lei nº 9.296/1996</a></h3></li>
            <li><h3 class="entry-title"><a href="https://www.planalto.gov.br/ccivil_03/_ato2011-2014/2014/lei/l12965.htm" target="_blank">Lei nº 12.965/2014</a></h3></li>
            <li><h3 class="entry-title"><a href="https://www.planalto.gov.br/ccivil_03/leis/l5172.htm" target="_blank">Lei nº 5.172/1966</a></h3></li>
            <li><h3 class="entry-title"><a href="https://www.cnmp.mp.br/portal/images/Resolucoes/Resoluo-174-1.pdf" target="_blank">Resolução 174/2017 CNMP</a></h3></li>
            <li><h3 class="entry-title"><a href="https://portal.tjpe.jus.br/documents/d/portal/dj250_2024-assinado-pdf" target="_blank">Portaria nº 03/2024/CNJ</a></h3></li>
            <li><h3 class="entry-title"><a href="https://encr.pw/Res292-2024" target="_blank">Resolução nº 292/2024 – CNMP</a></h3></li>
            -->



            
        </ul>
        
    </div>   
</section>
{% endblock %}