{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <h1 style="text-align: center;">Legislação RIF</h1>
        <ul>
            <li><h3 class="entry-title"><a href="/intranet/media/rif/Prov Conjunto 001.2024 CGMP.pdf" target="_blank">Provimento Conjunto 001.2024 CGMP</a></h3></li>
            <li><h3 class="entry-title"><a href="/intranet/media/rif/RIF -DIRETRIZES - CNMP - Recomendação_04-2017.pdf" target="_blank">RIF - Diretrizes CNMP - Recomendação 04-2017</a></h3></li>
        </ul>
        
    </div>   
</section>
{% endblock %}
