{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <h1 style="text-align: center;">Legislação RIF</h1>
        <br>
        <ul>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/rif/Prov Conjunto 001.2024 CGMP.pdf" target="_blank"><u><strong>Provimento Conjunto CGMP nº 001/2024</strong></u></a> - Disciplina e regulamenta o fluxo procedimental, o tratamento e a metodologia dos Relatórios de Inteligência Financeira do Conselho de Controle de Atividades Financeiras, no âmbito do Ministério Público do Estado do Pará
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/rif/RIF -DIRETRIZES - CNMP - Recomendação_04-2017.pdf" target="_blank"><u><strong>Recomendação de Caráter Geral CN-CNMP nº 04/2017</strong></u></a> - Estabelece diretrizes para o tratamento, o fluxo procedimental e a metodologia de utilização, no âmbiro do Ministério Público brasileiro, dos dados oriundos de Relatórios de Inteligência Financeira do Conselho de Controle de Atividades Financeiras.
                </h3>
            </li>
        </ul>
        
    </div>   
</section>
{% endblock %}
