{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <h1 style="text-align: center;">Manuais RIF</h1>
        <ul>
            <li><h3 class="entry-title"><a href="/intranet/media/rif/SOLICITAÇÃO DE RIF NO SEI-C.pdf" target="_blank">Solicitação de RIF no SEI-C</a></h3></li>
            <li><h3 class="entry-title"><a href="/intranet/media/rif/APRESENTAÇÃO - RIF.pdf" target="_blank">Apresentação - RIF</a></h3></li>
            <li><h3 class="entry-title"><a href="/intranet/media/rif/INFORMATIVO SOBRE RIF (ANALISAR).pdf" target="_blank">Informativo sobre RIF (ANALISAR)</a></h3></li>
            <li><h3 class="entry-title"><a href="/intranet/media/rif/Unidade  01 - Introdução à Análise de RIF - Rede-Lab v1.pdf" target="_blank">Introdução à Análise de RIF - Rede-Lab v1</a></h3></li>
        </ul>
    </div>   
</section>
{% endblock %}
