{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <h1 style="text-align: center;">Manuais RIF</h1>
        <br>
        <ul>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/rif/SOLICITAÇÃO DE RIF NO SEI-C.pdf" target="_blank"><u><strong>Solicitação de RIF no SEI-C</strong></u></a>
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/rif/APRESENTAÇÃO - RIF.pdf" target="_blank"><u><strong>Apresentação RIF</strong></u></a> - GSI MPPA
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/rif/INFORMATIVO SOBRE RIF (ANALISAR).pdf" target="_blank"><u><strong>Informativo sobre RIF</strong></u></a> - GSI MPPA
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/rif/Unidade  01 - Introdução à Análise de RIF - Rede-Lab v1.pdf" target="_blank"><u><strong>Introdução à Análise de Relatório de Inteligência Financeira (RIF)</strong></u></a> - Rede-Lab
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/rif/CADASTRO DOS MEMBROS NO SEI-C.pdf" target="_blank"><u><strong>Cadastro dos Membros no SEI-C</strong></u></a>
                </h3>
            </li>
        </ul>
    </div>   
</section>
{% endblock %}
