{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <h1 style="text-align: center;">Legislação SIMBA</h1>
        <br>
        <ul>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/simba/Carta Circular BACEN 3.454-2010.pdf" target="_blank"><u><strong>Carta Circular BACEN nº 3.454/2010</strong></u></a> - Divulga leiaute das informações de que trata a Circular nº 3.290, de 5 de setembro de 2005.
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/simba/Resolução SISBAJUD CNJ.pdf" target="_blank"><u><strong>Portaria CNJ nº 3/2024</strong></u></a> - Regula o uso e o funcionamento do Sistema de Busca de Ativos do Poder Judiciário – Sisbajud.
                </h3>
            </li>
        </ul>
        
    </div>   
</section>
{% endblock %}
