{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <h1 style="text-align: center;">Manuais SIMBA</h1>
        <br>
        <ul>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/simba/Fluxograma do SIMBA.pdf" target="_blank"><u><strong>Fluxograma de Funcionamento do SIMBA</strong></u></a>
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/simba/MANUAL DE TRAMITAÇÃO SIMBA.pdf" target="_blank"><u><strong>Manual de Tramitação SIMBA</strong></u></a>
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/simba/Pedido de Análise - Caso SIMBA.doc" target="_blank"><u><strong>Pedido de Análise - Caso SIMBA</strong></u></a>
                </h3>
            </li>
            <li>
                <h3 class="entry-title" style="font-size: 18px; font-weight: normal;">
                    <a href="/intranet/media/simba/SOLICITACAO-ABERTURA-CASO2025.doc" target="_blank"><u><strong>Solicitação de Abertura - Caso 2025</strong></u></a>
                </h3>
            </li>
        </ul>
        
    </div>   
</section>
{% endblock %}
