{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <h1 style="text-align: center;">Manuais SIMBA</h1>
        <ul>
            <li><h3 class="entry-title"><a href="/intranet/media/simba/Fluxograma do SIMBA.pdf" target="_blank">Fluxograma do SIMBA</a></h3></li>
            <li><h3 class="entry-title"><a href="/intranet/media/simba/MANUAL DE TRAMITAÇÃO SIMBA.pdf" target="_blank">Manual de Tramitação SIMBA</a></h3></li>
            <li><h3 class="entry-title"><a href="/intranet/media/simba/Pedido de Análise - Caso SIMBA.doc" target="_blank">Pedido de Análise - Caso SIMBA</a></h3></li>
            <li><h3 class="entry-title"><a href="/intranet/media/simba/SOLICITACAO-ABERTURA-CASO2025.doc" target="_blank">Solicitação de Abertura - Caso 2025</a></h3></li>
        </ul>
        
    </div>   
</section>
{% endblock %}
