{% extends "base.html" %}

{% block content %}
<section>
    <div class="container">
        <h1 style="text-align: center;">Legislação SIMBA</h1>
        <ul>
            <li><h3 class="entry-title"><a href="/intranet/media/simba/Carta Circular BACEN 3.454-2010.pdf" target="_blank">Carta Circular BACEN 3.454-2010</a></h3></li>
            <li><h3 class="entry-title"><a href="/intranet/media/simba/Resolução SISBAJUD CNJ.pdf" target="_blank">Resolução SISBAJUD CNJ</a></h3></li>
        </ul>
        
    </div>   
</section>
{% endblock %}
